.quiz-container {
  background-color: #abb899;

  border-radius: 5px;

  .question-header {
  }

  .question {
    align-items: center;

    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
  }
}
