.dropdown-container {
  font-weight: bold;
  padding: 10px 10px;

  .dropdown-label {
    text-align: left;
    width: 100%;
  }

  .dropdown-select {
    margin: 10px 0;
    padding: 10px 10px;
    font-size: 18px;
    width: 100%;
    background-color: #fff;
  }
}
