.question {
  margin: 40px 30px;
  align-items: center;
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
}

.submit-button {
  width: 50%;
  margin: 0 auto;
}

.answers-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 10px;

  .answer-container {
    flex: 40%;
  }
}
