.question-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  font-weight: bold;
  font-size: medium;
  border-radius: 5px;

  .category {
    width: 33%;
    text-align: left;
  }

  .question-number {
    width: 33%;
    text-align: center;
  }

  .difficulty {
    width: 33%;
    text-align: right;
  }
}
