.card {
  padding: 10px;
  width: 90%;
  height: 90%;
  margin: 10px;
  display: flex;
  cursor: pointer;
  background-color: #e2eee2;
  color: #2a3121;
  font-weight: bold;
  font-size: x-large;
  padding: 10px 10px;
  justify-content: space-between;

  color: var(--primary);

  box-shadow: none;
  border: 1px solid #e2eee2;
  border-radius: 4px;
}

.radio {
  display: none;
}

input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #abb899;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #556342;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #abb899;
}
