.header {
  height: 80px;
  background-color: #abb899;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99%;
  font-weight: bolder;
  font-size: large;
  border-radius: 5px;
  margin: 10px;

  .logo {
    width: 65px;
    height: 65px;
    padding: 10px;
    align-items: center;
  }

  .title {
    align-items: center;
  }

  .options-container {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 0 10px;
    }
  }
}
