.header {
  height: 80px;
  background-color: #abb899;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
  font-size: large;
  border-radius: 5px;
  margin: 10px;

  .logo {
    width: 33%;
    height: 65px;
    align-items: center;
  }

  .title {
    width: 33%;
    text-align: center;
    align-items: center;
  }

  .options-container {
    width: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 0 10px;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 699px) {
  .logo {
    flex: 25%;
  }

  .title {
    flex: 25%;
    text-align: centre;
  }

  .options-container {
    flex: 45%;
  }
}
