.leaderboard {
  background-color: #abb899;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  width: 50%;
  align-items: center;
}

.headings {
  font-weight: bold;
}

.link {
  font-weight: bold;
  text-align: right;
}
