.sign-up {
  display: flex;
  flex-direction: column;
  height: 100%;

  .title {
    margin: 10px 0px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;

    .new-user-label {
      padding: 10px 10px;
      width: 100%;
      text-align: right;
      cursor: pointer;
      font-weight: bold;
    }
  }
}
