.sidebar {
  background-color: #abb899;
  align-items: center;
  height: 95%;
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;

  .dropdown-menu {
    flex: 100%;
  }
  .custom-button-container {
    float: 100%;
    width: 100%;
  }
}
