.custom-button {
  width: 100%;
  color: white;
  letter-spacing: 0.5px;
  line-height: 50px;
  background-color: #556342;
  height: auto;
  font-weight: bolder;
  border: none;
  font-family: inherit;
  text-align: center;

  font-size: large;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: #2a3121;
    color: white;
    border: 1px solid black;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: #357ae8;
      color: black;
      border: none;
    }
  }

  &.answer {
    background-color: #e2eee2;
    color: #2a3121;
    font-weight: bolder;
    font-size: x-large;
    padding: 10px 10px;

    &:focus {
      background-color: #2a3121;
      color: white;
    }
  }
}
