.custom-button {
  width: 100%;
  color: white;
  letter-spacing: 0.5px;
  line-height: 50px;
  background-color: #556342;
  height: 50px;
  font-weight: bolder;
  border: none;
  font-family: "Open Sans Condensed", sans-serif;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: #2a3121;
    color: white;
    border: 1px solid black;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: #357ae8;
      color: black;
      border: none;
    }
  }

  &.answer {
    background-color: #e2eee2;
    color: #2a3121;

    &:focus {
      background-color: #2a3121;
      color: white;
    }
  }
}
